# Milestone 4
### Annie Anand Jacob Stambaugh

## Part 1

### Location

In [1]:
%run location_dataflow.py

/home/jupyter/venv/lib/python3.7/site-packages/apache_beam/io/gcp/bigquery.py:1936: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  temp_location = pcoll.pipeline.options.view_as(
/home/jupyter/venv/lib/python3.7/site-packages/apache_beam/io/gcp/bigquery_file_loads.py:956: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  temp_location = p.options.view_as(GoogleCloudOptions).temp_location

### Day

In [7]:
%run day_dataflow.py

### Cases

In [8]:
%run cases_dataflow.py

## Part 2 Checking Primary + FK

location

In [1]:
%%bigquery
SELECT combined_key as pk_and_fk, COUNT(*) occurrences
FROM datamart.location_Dataflow
GROUP BY combined_key
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk_and_fk, occurrences]
Index: []

day

In [2]:
%%bigquery
SELECT day_key as pk, COUNT(*) occurrences
FROM datamart.day_Dataflow
GROUP BY day_key
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

cases

In [4]:
%%bigquery
SELECT day_key as pk, COUNT(*) occurrences
FROM datamart.cases_Dataflow
GROUP BY day_key
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

acs - housing

In [5]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.housing
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

acs - economics

In [6]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.economics
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

acs - demographics

In [8]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.demographics
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

acs - social

In [10]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.social
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

## Part 3

### **Q1**
Looking at states and comparing Average cases+deaths per day to number of houses lacking plumbing (infrastructure) as we well how mnay people take public transportation to work (economics). We limit ten so notebook isnt long but when creating views we do not limit so we can compare entire U.S

In [35]:
%%bigquery
SELECT L.state,avg(C.deaths) as avg_deaths_per_day,avg(C.confirmed) as avg_cases_per_day, house.Lacking_complete_plumbing_facilities,econ.Public_transportation
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state INNER JOIN datamart.housing as house on house.state = L.state INNER JOIN datamart.social as social on social.state = L.state
group by L.state, house.Lacking_complete_plumbing_facilities,econ.Public_transportation
limit 10
;

,state,avg_deaths_per_day,avg_cases_per_day,Lacking_complete_plumbing_facilities,Public_transportation
0,Indiana,2.319485,55.569118,10233,29628
1,Minnesota,0.610169,14.992213,7180,100645
2,Oklahoma,0.931328,19.321805,6464,7609
3,Virginia,0.731587,26.850882,11024,186834
4,Vermont,1.427252,33.295612,1500,5324
5,Maryland,5.960383,211.010929,6054,246926
6,Tennessee,0.694259,39.449454,7098,19604
7,Louisiana,8.854914,200.845034,7479,23798
8,South Carolina,1.174800,47.588492,6473,13837
9,Alabama,0.922691,33.578313,6818,8867

### **Q2**
Looking at states and comparing Average cases+deaths per day to number of people working in service industry for that state. We limit ten so notebook isnt long but when creating views we do not limit so we can compare entire U.S

In [32]:
%%bigquery
SELECT L.state,max(C.confirmed) as greatest_cases_on_a_day,max(C.deaths) as greatest_deaths_on_a_day, (demo.White/demo.Total_Population) as pct_white, (demo.Black/demo.Total_Population) as pct_black, (demo.Asian/demo.Total_Population) as pct_asian, (demo.Hispanic/demo.Total_Population) as pct_hispanic,econ.Unemployment_Rate,(econ.No_health_insurance_coverage/demo.Total_Population) as pct_with_no_health_insurance 
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state
group by L.state,econ.Unemployment_Rate,pct_with_no_health_insurance,pct_white,pct_black,pct_asian,pct_hispanic
order by greatest_deaths_on_a_day desc
limit 10
;

    state  avg_deaths_per_day  avg_cases_per_day  Service_occupations
0    Iowa            0.318255          13.407926               255954
1    Ohio            2.102959          55.523866               965392
2    Utah            0.509985          72.149002               242066
3   Idaho            0.477982          25.467890               145329
4   Maine            0.790456          29.508299               119100
5   Texas            0.951145          44.547583              2391815
6  Alaska            0.302970          10.899010                58449
7  Hawaii            0.757225          58.335260               156717
8  Kansas            0.482822          12.089785               237238
9  Nevada            5.086514         147.139949               380595

### Q3

Looking at states and comparing Average cases+deaths per day to percentage of white people in that state as well as number of people workinf fin agriculuture. We limit ten so notebook isnt long but when creating views we do not limit so we can compare entire U.S

In [36]:
%%bigquery
SELECT L.state,avg(C.deaths) as avg_deaths_per_day,avg(C.confirmed) as avg_cases_per_day, econ.Agriculture_forestry,(demo.White/demo.Total_Population) as pct_white
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state INNER JOIN datamart.housing as house on house.state = L.state INNER JOIN datamart.social as social on social.state = L.state
group by L.state, econ.Agriculture_forestry,pct_white
limit 10;

,state,avg_deaths_per_day,avg_cases_per_day,Agriculture_forestry,pct_white
0,Indiana,2.319485,55.569118,41079,0.827647
1,Minnesota,0.610169,14.992213,61997,0.820548
2,Oklahoma,0.931328,19.321805,82289,0.724237
3,Virginia,0.731587,26.850882,34735,0.669514
4,Vermont,1.427252,33.295612,8209,0.937704
5,Maryland,5.960383,211.010929,17758,0.545333
6,Tennessee,0.694259,39.449454,28342,0.772115
7,Louisiana,8.854914,200.845034,77379,0.618394
8,South Carolina,1.174800,47.588492,21668,0.667053
9,Alabama,0.922691,33.578313,26729,0.678411

## Part 4 - Creating Views
We did not limit so we can entire trends for U.S!

### View 1

In [28]:
%%bigquery
CREATE VIEW reports.Infrastructure AS
SELECT L.state,avg(C.deaths) as avg_deaths_per_day,avg(C.confirmed) as avg_cases_per_day, house.Lacking_complete_plumbing_facilities,econ.Public_transportation
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state INNER JOIN datamart.housing as house on house.state = L.state INNER JOIN datamart.social as social on social.state = L.state
group by L.state, house.Lacking_complete_plumbing_facilities,econ.Public_transportation
;

Empty DataFrame
Columns: []
Index: []

### View 2

In [29]:
%%bigquery
CREATE VIEW reports.Covid_Impact_on_Service_Occupations AS
SELECT L.state,avg(C.deaths) as avg_deaths_per_day,avg(C.confirmed) as avg_cases_per_day,econ.Service_occupations
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state INNER JOIN datamart.housing as house on house.state = L.state INNER JOIN datamart.social as social on social.state = L.state
group by L.state, econ.Service_occupations
;

Empty DataFrame
Columns: []
Index: []

### View 3

In [ ]:
%%bigquery
CREATE VIEW reports.overall AS
SELECT L.state,avg(C.deaths) as avg_deaths_per_day,avg(C.confirmed) as avg_cases_per_day, econ.Agriculture_forestry,(demo.White/demo.Total_Population) as pct_white
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state INNER JOIN datamart.housing as house on house.state = L.state INNER JOIN datamart.social as social on social.state = L.state
group by L.state, econ.Agriculture_forestry,pct_white
;

### Overall Veiw
Combined for easier plotiing on data studio

In [23]:
%%bigquery
CREATE VIEW reports.overall AS
SELECT L.state,avg(C.deaths) as avg_deaths_per_day,avg(C.confirmed) as avg_cases_per_day,house.Median_rooms, house.Lacking_complete_plumbing_facilities,econ.Unemployment_Rate,(econ.No_health_insurance_coverage/demo.Total_Population) as pct_with_no_health_insurance , social.Average_household_size, econ.Public_transportation, econ.Service_occupations, econ.Agriculture_forestry, econ.Median_earnings_for_workers, (demo.White/demo.Total_Population) as pct_white, (demo.Black/demo.Total_Population) as pct_black, (demo.Asian/demo.Total_Population) as pct_asian, (demo.Hispanic/demo.Total_Population) as pct_hispanic
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state INNER JOIN datamart.housing as house on house.state = L.state INNER JOIN datamart.social as social on social.state = L.state
group by L.state,house.Median_rooms, house.Lacking_complete_plumbing_facilities,econ.Unemployment_Rate,pct_with_no_health_insurance, social.Average_household_size, econ.Public_transportation, econ.Service_occupations, econ.Agriculture_forestry, econ.Median_earnings_for_workers, pct_white,pct_black, pct_asian, pct_hispanic
;

Empty DataFrame
Columns: []
Index: []

In [22]:
%%bigquery
SELECT L.state,avg(C.deaths) as avg_deaths_per_day,avg(C.confirmed) as avg_cases_per_day,house.Median_rooms, house.Lacking_complete_plumbing_facilities,econ.Unemployment_Rate,(econ.No_health_insurance_coverage/demo.Total_Population) as pct_with_no_health_insurance , social.Average_household_size, econ.Public_transportation, econ.Service_occupations, econ.Agriculture_forestry, econ.Median_earnings_for_workers, (demo.White/demo.Total_Population) as pct_white, (demo.Black/demo.Total_Population) as pct_black, (demo.Asian/demo.Total_Population) as pct_asian, (demo.Hispanic/demo.Total_Population) as pct_hispanic
FROM datamart.location_Dataflow as L INNER JOIN datamart.day_Dataflow as D on L.combined_key=D.combined_key INNER JOIN datamart.cases_Dataflow as C on C.day_key=D.day_key INNER JOIN datamart.economics as econ on econ.state = L.state INNER JOIN datamart.demographics as demo on demo.state = L.state INNER JOIN datamart.housing as house on house.state = L.state INNER JOIN datamart.social as social on social.state = L.state
group by L.state,house.Median_rooms, house.Lacking_complete_plumbing_facilities,econ.Unemployment_Rate,pct_with_no_health_insurance, social.Average_household_size, econ.Public_transportation, econ.Service_occupations, econ.Agriculture_forestry, econ.Median_earnings_for_workers, pct_white,pct_black, pct_asian, pct_hispanic
;

,state,avg_deaths_per_day,avg_cases_per_day,Median_rooms,Lacking_complete_plumbing_facilities,Unemployment_Rate,pct_with_no_health_insurance,Average_household_size,Public_transportation,Service_occupations,Agriculture_forestry,Median_earnings_for_workers,pct_white,pct_black,pct_asian,pct_hispanic
0,Indiana,2.319485,55.569118,5.800000000,10233,4.200000000,0.085921,2.520000000,29628,539453,41079,33756,0.827647,0.095526,0.025336,0.072124
1,Minnesota,0.610169,14.992213,6.000000000,7180,3.200000000,0.048339,2.480000000,100645,479143,61997,40977,0.820548,0.065659,0.050647,0.055716
2,Oklahoma,0.931328,19.321805,5.500000000,6464,4.400000000,0.139712,2.570000000,7609,313570,82289,32323,0.724237,0.072635,0.022732,0.110718
3,Virginia,0.731587,26.850882,6.000000000,11024,4.000000000,0.077123,2.600000000,186834,723232,34735,40405,0.669514,0.194471,0.066269,0.097024
4,Vermont,1.427252,33.295612,5.500000000,1500,3.400000000,0.044458,2.280000000,5324,56435,8209,35474,0.937704,0.015120,0.013787,0.019885
5,Maryland,5.960383,211.010929,6.200000000,6054,4.500000000,0.059022,2.650000000,246926,532247,17758,45891,0.545333,0.302705,0.063879,0.106385
6,Tennessee,0.694259,39.449454,5.600000000,7098,4.500000000,0.099814,2.510000000,19604,546586,28342,32604,0.772115,0.167122,0.018412,0.056980
7,Louisiana,8.854914,200.845034,5.400000000,7479,5.500000000,0.086959,2.600000000,23798,404182,77379,32102,0.618394,0.323528,0.017533,0.053821
8,South Carolina,1.174800,47.588492,5.700000000,6473,4.700000000,0.106369,2.540000000,13837,414935,21668,32373,0.667053,0.264710,0.016814,0.057971
9,Alabama,0.922691,33.578313,5.700000000,6818,4.900000000,0.095632,2.520000000,8867,354923,26729,31962,0.678411,0.269121,0.013487,0.044725
10,Idaho,0.477982,25.467890,5.800000000,2099,3.300000000,0.106988,2.680000000,6457,145329,39187,31111,0.893598,0.007111,0.014532,0.128420
11,Ohio,2.102959,55.523866,5.900000000,16060,4.600000000,0.064826,2.400000000,83924,965392,52106,34852,0.808672,0.125530,0.023491,0.040002
12,Mississippi,0.758436,23.661728,5.600000000,4582,6.600000000,0.126631,2.620000000,3037,227161,27179,29341,0.580270,0.379890,0.010468,0.030288
13,North Carolina,0.689496,32.894606,5.500000000,11179,4.600000000,0.110342,2.520000000,55608,835953,56376,33205,0.681203,0.214861,0.029548,0.097539
14,Iowa,0.318255,13.407926,5.900000000,3994,3.700000000,0.049464,2.380000000,17810,255954,60645,35837,0.898724,0.040993,0.024131,0.062592
15,Missouri,0.780070,28.954895,5.600000000,10623,3.800000000,0.098364,2.430000000,33420,497954,46132,34558,0.818411,0.114553,0.020718,0.043069
16,Kentucky,0.599270,12.282537,5.600000000,7256,4.800000000,0.063246,2.480000000,19494,321346,38960,32189,0.867049,0.081288,0.016359,0.037607
17,Georgia,1.919538,53.795848,5.900000000,13072,4.800000000,0.131654,2.690000000,98285,801453,48994,35019,0.577513,0.319378,0.041386,0.098201
18,Wyoming,0.020408,8.596546,5.700000000,597,3.600000000,0.121040,2.420000000,3251,51586,32253,34780,0.908599,0.012295,0.008005,0.101263
19,New York,105.145313,2154.177482,5.000000000,27342,4.400000000,0.051740,2.540000000,2615708,1944920,55788,41492,0.631950,0.158547,0.086371,0.192729
20,Arkansas,0.254067,13.312440,5.400000000,6392,4.800000000,0.089790,2.520000000,5291,229244,36488,30818,0.767121,0.154903,0.015269,0.076861
21,Michigan,11.599080,201.522575,5.800000000,12748,5.000000000,0.057189,2.460000000,65264,830426,56518,33328,0.782245,0.137287,0.032766,0.052667
22,New Mexico,0.611511,28.378897,5.300000000,7280,5.500000000,0.097841,2.590000000,9567,188176,39725,30276,0.739189,0.023052,0.017431,0.492625
23,West Virginia,0.116262,8.475350,5.700000000,3899,6.000000000,0.065644,2.400000000,5773,142930,26815,30970,0.930729,0.036785,0.007985,0.014967
24,Kansas,0.482822,12.089785,6.000000000,3917,3.800000000,0.090067,2.490000000,7225,237238,44765,35266,0.836471,0.057404,0.029869,0.121787
25,South Dakota,0.080772,11.059328,5.900000000,964,3.000000000,0.099854,2.400000000,1578,75329,29353,32908,0.840735,0.023586,0.013033,0.037323
26,Nebraska,0.188646,9.114725,6.100000000,1975,3.300000000,0.081639,2.440000000,8159,159127,46776,36077,0.861640,0.048934,0.024679,0.113457
27,Alaska,0.302970,10.899010,4.800000000,8132,5.800000000,0.117815,2.790000000,3373,58449,16537,40334,0.642163,0.030827,0.059707,0.071832
28,Colorado,2.944761,82.833144,5.700000000,5962,3.700000000,0.078746,2.520000000,96147,510356,74169,40646,0.837402,0.041769,0.032726,0.218260
29,Texas,0.951145,44.547583,5.300000000,38553,4.400000000,0.180507,2.840000000,182144,2391815,405332,35329,0.733667,0.122566,0.049872,0.397465
30,Pennsylvania,5.450351,214.428786,6.000000000,19276,4.500000000,0.056745,2.420000000,353582,1081099,79794,37000,0.796266,0.113635,0.035437,0.077943
31,Illinois,5.258647,154.668332,5.600000000,13384,4.800000000,0.072862,2.540000000,598757,1065605,61527,39055,0.713714,0.141275,0.056661,0.174900
32,Washington,9.353753,195.652286,5.500000000,9970,4.600000000,0.065142,2.550000000,264698,648425,96356,41735,0.742110,0.040174,0.089951,0.130235
33,Oregon,1.080508,33.204449,5.300000000,8930,5.000000000,0.070991,2.500000000,93903,371204,59775,35643,0.835484,0.018474,0.046012,0.134394
34,Wisconsin,1.399795,35.884162,5.600000000,8264,3.200000000,0.056446,2.380000000,50099,486642,60075,37044,0.852453,0.064363,0.028754,0.070893
35,California,8.402313,286.160682,5.000000000,53199,5.100000000,0.075976,2.940000000,970901,3506134,409074,39549,0.594372,0.057758,0.148446,0.394179
36,Florida,4.598485,196.291919,5.100000000,22887,4.500000000,0.129639,2.660000000,156860,1988647,83241,31876,0.745427,0.160215,0.027927,0.263698
37,North Dakota,0.116321,6.286745,5.600000000,1140,2.600000000,0.067349,2.280000000,2870,67919,38310,37398,0.858080,0.029205,0.014000,0.040005
38,Utah,0.509985,72.149002,6.300000000,3694,3.200000000,0.095714,3.080000000,39112,242066,26845,33396,0.873226,0.011515,0.023852,0.144124
39,Montana,0.139795,7.490214,5.500000000,2540,4.100000000,0.081533,2.380000000,4758,96942,31431,31313,0.879905,0.007286,0.008353,0.037733
40,Maine,0.790456,29.508299,5.400000000,3605,3.500000000,0.079256,2.280000000,4257,119100,19083,35231,0.939797,0.016354,0.011399,0.017160
41,Massachusetts,33.735763,1095.990888,5.500000000,6884,3.900000000,0.029609,2.510000000,379177,630601,16116,45737,0.769733,0.078873,0.068610,0.123864
42,Arizona,4.656904,152.581590,5.300000000,18351,5.100000000,0.111097,2.670000000,55020,615610,45620,34397,0.783354,0.047224,0.033209,0.317445
43,Hawaii,0.757225,58.335260,4.600000000,3365,3.900000000,0.039890,2.950000000,37672,156717,10265,40240,0.240990,0.019015,0.386930,0.106552
44,Rhode Island,7.011111,273.783333,5.300000000,1504,4.200000000,0.040326,2.500000000,16475,102492,1919,39145,0.786974,0.073764,0.035022,0.162969
45,New Jersey,68.200000,1833.289394,5.700000000,8839,4.700000000,0.077947,2.650000000,510746,715596,15873,45513,0.671489,0.135534,0.096436,0.209053
46,Nevada,5.086514,147.139949,5.100000000,6920,5.100000000,0.112861,2.660000000,44780,380595,21632,35526,0.645784,0.096159,0.084788,0.292387
47,Connecticut,43.236641,891.145038,5.600000000,6525,5.300000000,0.058111,2.510000000,81154,334671,7990,42196,0.746147,0.111280,0.046670,0.168557
48,Delaware,6.486486,274.936937,6.200000000,904,5.600000000,0.064461,2.520000000,10923,83828,5917,37430,0.677494,0.225330,0.037578,0.095906
49,New Hampshire,1.334375,60.481250,5.500000000,3751,3.000000000,0.061795,2.440000000,6327,114269,5471,40984,0.925620,0.016180,0.026334,0.039848
50,District of Columbia,34.758621,1255.103448,4.000000000,398,6.300000000,0.034723,2.290000000,131786,50789,790,61960,0.425162,0.454417,0.040697,0.112614