# Milestone 3
Annie Anand Jacob Stambaugh

### Clean Data

### Location Table

For the location table, we want to remove duplicate rows

In [26]:
%run location_beam.py

In [15]:
%%bigquery
SELECT combined_key as pk_and_fk, COUNT(*) occurrences
FROM datamart.location_beam
GROUP BY combined_key
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk_and_fk, occurrences]
Index: []

combined key is the pk of the location tables and acts as a fk to the day table (junction table) as well as the ACS tables.

### Day

For the days table we want to standardize the dates into mm/dd/yyyy format, so that we can cast that into the schema

In [27]:
%run day_beam.py

Set/check PK and Fk for transformed table

In [11]:
%%bigquery
SELECT day_key as pk, COUNT(*) occurrences
FROM datamart.day_beam
GROUP BY day_key
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

day key is the pk of the day tables and acts as a fk to the cases table

### Cases

For cases table we want we want to standardize the dates into mm/dd/yyyy format, so that we can cast that into the schema

In [28]:
%run cases_beam.py

In [14]:
%%bigquery
SELECT day_key as pk, COUNT(*) occurrences
FROM datamart.cases_beam
GROUP BY day_key
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

day key is the pk of the cases table

### ACS Tabels

acs tables did not need to be cleansed as they were modified directly on the ACS website as well as milestones 1&2, so they were ready to go! They connect to the COVID-19 data via state!

In [19]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.economics
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

In [20]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.social
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

In [21]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.housing
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []

In [22]:
%%bigquery
SELECT state as pk, COUNT(*) occurrences
FROM datamart.demographics
GROUP BY state
HAVING COUNT(*) > 1;

Empty DataFrame
Columns: [pk, occurrences]
Index: []