In [54]:
%env INSTANCE=postg

env: INSTANCE=postg

In [55]:
!psql -c "\i /home/jupyter/pagila/pagila-schema.sql"

psql:/home/jupyter/pagila/pagila-schema.sql:8: NOTICE:  drop cascades to 47 other objects
DETAIL:  drop cascades to type pagila.mpaa_rating
drop cascades to type pagila.year
drop cascades to function pagila._group_concat(text,text)
drop cascades to function pagila.film_in_stock(integer,integer)
drop cascades to function pagila.film_not_in_stock(integer,integer)
drop cascades to function pagila.get_customer_balance(integer,timestamp with time zone)
drop cascades to function pagila.inventory_held_by_customer(integer)
drop cascades to function pagila.inventory_in_stock(integer)
drop cascades to function pagila.last_day(timestamp with time zone)
drop cascades to function pagila.last_updated()
drop cascades to sequence pagila.customer_customer_id_seq
drop cascades to table pagila.customer
drop cascades to function pagila.rewards_report(integer,numeric)
drop cascades to function pagila.group_concat(text)
drop cascades to sequence pagila.actor_actor_id_seq
drop cascades to table pagila.actor
drop cascades to sequence pagila.category_category_id_seq
drop cascades to table pagila.category
drop cascades to sequence pagila.film_film_id_seq
drop cascades to table pagila.film
drop cascades to table pagila.film_actor
drop cascades to table pagila.film_category
drop cascades to view pagila.actor_info
drop cascades to sequence pagila.address_address_id_seq
drop cascades to table pagila.address
drop cascades to sequence pagila.city_city_id_seq
drop cascades to table pagila.city
drop cascades to sequence pagila.country_country_id_seq
drop cascades to table pagila.country
drop cascades to view pagila.customer_list
drop cascades to view pagila.film_list
drop cascades to sequence pagila.inventory_inventory_id_seq
drop cascades to table pagila.inventory
drop cascades to sequence pagila.language_language_id_seq
drop cascades to table pagila.language
drop cascades to view pagila.nicer_but_slower_film_list
drop cascades to sequence pagila.payment_payment_id_seq
drop cascades to table pagila.payment
drop cascades to sequence pagila.rental_rental_id_seq
drop cascades to table pagila.rental
drop cascades to view pagila.sales_by_film_category
drop cascades to sequence pagila.staff_staff_id_seq
drop cascades to table pagila.staff
drop cascades to sequence pagila.store_store_id_seq
drop cascades to table pagila.store
drop cascades to view pagila.sales_by_store
drop cascades to view pagila.staff_list
DROP SCHEMA
CREATE SCHEMA
SET
SET
SET
SET
SET
SET
SET
SET
SET
CREATE EXTENSION
CREATE TYPE
ALTER TYPE
CREATE DOMAIN
ALTER DOMAIN
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE SEQUENCE
ALTER TABLE
SET
SET
CREATE TABLE
ALTER TABLE
CREATE FUNCTION
ALTER FUNCTION
CREATE AGGREGATE
ALTER AGGREGATE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE VIEW
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE

In [56]:
!psql -c "\i /home/jupyter/pagila/pagila-insert-data.sql" --quiet

 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

### Open all tables

In [62]:
!psql -c "\dt pagila.*"

             List of relations
 Schema |     Name      | Type  |  Owner
--------+---------------+-------+----------
 pagila | actor         | table | postgres
 pagila | address       | table | postgres
 pagila | category      | table | postgres
 pagila | city          | table | postgres
 pagila | country       | table | postgres
 pagila | customer      | table | postgres
 pagila | film          | table | postgres
 pagila | film_actor    | table | postgres
 pagila | film_category | table | postgres
 pagila | inventory     | table | postgres
 pagila | language      | table | postgres
 pagila | payment       | table | postgres
 pagila | rental        | table | postgres
 pagila | staff         | table | postgres
 pagila | store         | table | postgres
(15 rows)

In [19]:
!psql -c "\d pagila.actor"

                                              Table "pagila.actor"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 actor_id    | integer                  |           | not null | nextval('pagila.actor_actor_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "actor_pkey" PRIMARY KEY, btree (actor_id)
    "idx_actor_last_name" btree (last_name)
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.actor FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [21]:
!psql -c "\d pagila.address"

                                               Table "pagila.address"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 address_id  | integer                  |           | not null | nextval('pagila.address_address_id_seq'::regclass)
 address     | text                     |           | not null |
 address2    | text                     |           |          |
 district    | text                     |           | not null |
 city_id     | smallint                 |           | not null |
 postal_code | text                     |           |          |
 phone       | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "address_pkey" PRIMARY KEY, btree (address_id)
    "idx_fk_city_id" btree (city_id)
Foreign-key constraints:
    "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.store" CONSTRAINT "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.address FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [23]:
!psql -c "\d pagila.category"

                                               Table "pagila.category"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 category_id | integer                  |           | not null | nextval('pagila.category_category_id_seq'::regclass)
 name        | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "category_pkey" PRIMARY KEY, btree (category_id)
Referenced by:
    TABLE "pagila.film_category" CONSTRAINT "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.category FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [24]:
!psql -c "\d pagila.city"

                                             Table "pagila.city"
   Column    |           Type           | Collation | Nullable |                   Default
-------------+--------------------------+-----------+----------+----------------------------------------------
 city_id     | integer                  |           | not null | nextval('pagila.city_city_id_seq'::regclass)
 city        | text                     |           | not null |
 country_id  | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "city_pkey" PRIMARY KEY, btree (city_id)
    "idx_fk_country_id" btree (country_id)
Foreign-key constraints:
    "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.address" CONSTRAINT "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.city FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [25]:
!psql -c "\d pagila.country"

                                               Table "pagila.country"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 country_id  | integer                  |           | not null | nextval('pagila.country_country_id_seq'::regclass)
 country     | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "country_pkey" PRIMARY KEY, btree (country_id)
Referenced by:
    TABLE "pagila.city" CONSTRAINT "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.country FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [27]:
!psql -c "\d pagila.customer"

                                                Table "pagila.customer"
   Column    |           Type           | Collation | Nullable |                        Default
-------------+--------------------------+-----------+----------+-------------------------------------------------------
 customer_id | integer                  |           | not null | nextval('pagila.customer_customer_id_seq1'::regclass)
 store_id    | smallint                 |           | not null |
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 email       | text                     |           |          |
 address_id  | smallint                 |           | not null |
 activebool  | boolean                  |           | not null | true
 create_date | date                     |           | not null | ('now'::text)::date
 last_update | timestamp with time zone |           |          | now()
 active      | integer                  |           |          |
Indexes:
    "customer_pkey" PRIMARY KEY, btree (customer_id)
    "idx_fk_address_id" btree (address_id)
    "idx_fk_store_id" btree (store_id)
    "idx_last_name" btree (last_name)
Foreign-key constraints:
    "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.customer FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [29]:
!psql -c "\d pagila.film"

                                                  Table "pagila.film"
        Column        |           Type           | Collation | Nullable |                   Default
----------------------+--------------------------+-----------+----------+----------------------------------------------
 film_id              | integer                  |           | not null | nextval('pagila.film_film_id_seq'::regclass)
 title                | text                     |           | not null |
 description          | text                     |           |          |
 release_year         | pagila.year              |           |          |
 language_id          | smallint                 |           | not null |
 original_language_id | smallint                 |           |          |
 rental_duration      | smallint                 |           | not null | 3
 rental_rate          | numeric(4,2)             |           | not null | 4.99
 length               | smallint                 |           |          |
 replacement_cost     | numeric(5,2)             |           | not null | 19.99
 rating               | pagila.mpaa_rating       |           |          | 'G'::pagila.mpaa_rating
 last_update          | timestamp with time zone |           | not null | now()
 special_features     | text[]                   |           |          |
 fulltext             | tsvector                 |           | not null |
Indexes:
    "film_pkey" PRIMARY KEY, btree (film_id)
    "film_fulltext_idx" gist (fulltext)
    "idx_fk_language_id" btree (language_id)
    "idx_fk_original_language_id" btree (original_language_id)
    "idx_title" btree (title)
Foreign-key constraints:
    "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film_category" CONSTRAINT "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    film_fulltext_trigger BEFORE INSERT OR UPDATE ON pagila.film FOR EACH ROW EXECUTE PROCEDURE tsvector_update_trigger('fulltext', 'pg_catalog.english', 'title', 'description')
    last_updated BEFORE UPDATE ON pagila.film FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [30]:
!psql -c "\d pagila.film_actor"

                        Table "pagila.film_actor"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 actor_id    | smallint                 |           | not null |
 film_id     | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_actor_pkey" PRIMARY KEY, btree (actor_id, film_id)
    "idx_fk_film_id" btree (film_id)
Foreign-key constraints:
    "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_actor FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [31]:
!psql -c "\d pagila.film_category"

                      Table "pagila.film_category"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 film_id     | smallint                 |           | not null |
 category_id | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_category_pkey" PRIMARY KEY, btree (film_id, category_id)
Foreign-key constraints:
    "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_category FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [34]:
!psql -c "\d pagila.inventory"

                                                Table "pagila.inventory"
    Column    |           Type           | Collation | Nullable |                        Default
--------------+--------------------------+-----------+----------+--------------------------------------------------------
 inventory_id | integer                  |           | not null | nextval('pagila.inventory_inventory_id_seq'::regclass)
 film_id      | smallint                 |           | not null |
 store_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "inventory_pkey" PRIMARY KEY, btree (inventory_id)
    "idx_store_id_film_id" btree (store_id, film_id)
Foreign-key constraints:
    "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.inventory FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [35]:
!psql -c "\d pagila.language"

                                               Table "pagila.language"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 language_id | integer                  |           | not null | nextval('pagila.language_language_id_seq'::regclass)
 name        | character(20)            |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "language_pkey" PRIMARY KEY, btree (language_id)
Referenced by:
    TABLE "pagila.film" CONSTRAINT "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film" CONSTRAINT "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.language FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [37]:
!psql -c "\d pagila.payment"

                                               Table "pagila.payment"
    Column    |           Type           | Collation | Nullable |                      Default
--------------+--------------------------+-----------+----------+----------------------------------------------------
 payment_id   | integer                  |           | not null | nextval('pagila.payment_payment_id_seq'::regclass)
 customer_id  | smallint                 |           | not null |
 staff_id     | smallint                 |           | not null |
 rental_id    | integer                  |           | not null |
 amount       | numeric(5,2)             |           | not null |
 payment_date | timestamp with time zone |           | not null |
Indexes:
    "idx_fk_customer_id" btree (customer_id)
    "idx_fk_staff_id" btree (staff_id)

In [38]:
!psql -c "\d pagila.rental"

                                               Table "pagila.rental"
    Column    |           Type           | Collation | Nullable |                     Default
--------------+--------------------------+-----------+----------+--------------------------------------------------
 rental_id    | integer                  |           | not null | nextval('pagila.rental_rental_id_seq'::regclass)
 rental_date  | timestamp with time zone |           | not null |
 inventory_id | integer                  |           | not null |
 customer_id  | smallint                 |           | not null |
 return_date  | timestamp with time zone |           |          |
 staff_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "rental_pkey" PRIMARY KEY, btree (rental_id)
    "idx_unq_rental_rental_date_inventory_id_customer_id" UNIQUE, btree (rental_date, inventory_id, customer_id)
    "idx_fk_inventory_id" btree (inventory_id)
Foreign-key constraints:
    "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.rental FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [41]:
!psql -c "\d pagila.staff"

                                              Table "pagila.staff"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 staff_id    | integer                  |           | not null | nextval('pagila.staff_staff_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 address_id  | smallint                 |           | not null |
 email       | text                     |           |          |
 store_id    | smallint                 |           | not null |
 active      | boolean                  |           | not null | true
 username    | text                     |           | not null |
 password    | text                     |           |          |
 last_update | timestamp with time zone |           | not null | now()
 picture     | bytea                    |           |          |
Indexes:
    "staff_pkey" PRIMARY KEY, btree (staff_id)
Foreign-key constraints:
    "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.staff FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [43]:
!psql -c "\d pagila.store"

                                                Table "pagila.store"
      Column      |           Type           | Collation | Nullable |                    Default
------------------+--------------------------+-----------+----------+------------------------------------------------
 store_id         | integer                  |           | not null | nextval('pagila.store_store_id_seq'::regclass)
 manager_staff_id | smallint                 |           | not null |
 address_id       | smallint                 |           | not null |
 last_update      | timestamp with time zone |           | not null | now()
Indexes:
    "store_pkey" PRIMARY KEY, btree (store_id)
    "idx_unq_manager_staff_id" UNIQUE, btree (manager_staff_id)
Foreign-key constraints:
    "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Triggers:
    last_updated BEFORE UPDATE ON pagila.store FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

### Inner Joins

Selects the first name, last name, and username where the staff store_id and the store_id are the same (1) in alphabetical by first name

In [90]:
!psql -c "select first_name, last_name, username from pagila.staff inner join pagila.store on staff.store_id = store.store_id where staff.store_id = 1 order by first_name"

 first_name | last_name | username
------------+-----------+----------
 Mike       | Hillyer   | Mike
(1 row)

Selects the rental date and payment date from the payment and rental table inner joined where the staff_id for payment and rental are the same and the amount is greater than $10

In [83]:
!psql -c "select rental_date, payment_date from pagila.payment inner join pagila.rental on payment.staff_id = rental.staff_id where payment.amount > 10 order by inventory_id  limit 10"

      rental_date       |         payment_date
------------------------+-------------------------------
 2005-08-21 21:27:43+00 | 2017-01-30 01:13:42.996577+00
 2005-08-21 21:27:43+00 | 2017-01-25 20:27:24.996577+00
 2005-08-21 21:27:43+00 | 2017-01-28 23:29:52.996577+00
 2005-08-21 21:27:43+00 | 2017-01-26 00:54:49.996577+00
 2005-08-21 21:27:43+00 | 2017-02-19 17:08:55.996577+00
 2005-08-21 21:27:43+00 | 2017-02-17 22:19:47.996577+00
 2005-08-21 21:27:43+00 | 2017-02-18 07:01:49.996577+00
 2005-08-21 21:27:43+00 | 2017-02-16 13:20:28.996577+00
 2005-08-21 21:27:43+00 | 2017-02-21 03:46:53.996577+00
 2005-08-21 21:27:43+00 | 2017-02-20 06:43:53.996577+00
(10 rows)

Selects the unique title and release year for film and film_actor where film_id is the same and the title starts with A

In [79]:
!psql -c "select distinct title, release_year from pagila.film inner join pagila.film_actor on film.film_id = film_actor.film_id where title like 'A%' order by title desc  limit 10"

        title         | release_year
----------------------+--------------
 AUTUMN CROW          |         2006
 ATTRACTION NEWTON    |         2006
 ATTACKS HATE         |         2006
 ATLANTIS CAUSE       |         2006
 ARTIST COLDBLOODED   |         2006
 ARSENIC INDEPENDENCE |         2006
 ARMY FLINTSTONES     |         2006
 ARMAGEDDON LOST      |         2006
 ARK RIDGEMONT        |         2006
 ARIZONA BANG         |         2006
(10 rows)

### Outer Joins

Selects unique title, rental_rate and rating from the outer join of film_actor where the film_id is the same and the title starts with A

In [87]:
!psql -c "select distinct title, rental_rate, rating from pagila.film right outer join pagila.film_actor on film.film_id = film_actor.film_id where title like 'A%' order by title limit 10"

      title       | rental_rate | rating
------------------+-------------+--------
 ACADEMY DINOSAUR |        0.99 | PG
 ACE GOLDFINGER   |        4.99 | G
 ADAPTATION HOLES |        2.99 | NC-17
 AFFAIR PREJUDICE |        2.99 | G
 AFRICAN EGG      |        2.99 | G
 AGENT TRUMAN     |        2.99 | PG
 AIRPLANE SIERRA  |        4.99 | PG-13
 AIRPORT POLLOCK  |        4.99 | R
 ALABAMA DEVIL    |        2.99 | PG-13
 ALADDIN CALENDAR |        4.99 | NC-17
(10 rows)

Selects payment_id return date and last_update from the payment and rental outer joined where the staff_id was the same and the amount was above $10

In [89]:
!psql -c "select payment_id, return_date, last_update from pagila.payment left outer join pagila.rental on payment.staff_id = rental.staff_id where payment.amount > 10 order by inventory_id  limit 10"

 payment_id |      return_date       |      last_update
------------+------------------------+------------------------
      16883 | 2005-08-30 22:26:43+00 | 2017-02-16 02:30:53+00
      16883 | 2005-08-11 21:35:10+00 | 2017-02-16 02:30:53+00
      16358 | 2005-08-30 22:26:43+00 | 2017-02-16 02:30:53+00
      16358 | 2005-08-11 21:35:10+00 | 2017-02-16 02:30:53+00
      16073 | 2005-08-30 22:26:43+00 | 2017-02-16 02:30:53+00
      16125 | 2005-08-30 22:26:43+00 | 2017-02-16 02:30:53+00
      16073 | 2005-08-11 21:35:10+00 | 2017-02-16 02:30:53+00
      16125 | 2005-08-11 21:35:10+00 | 2017-02-16 02:30:53+00
      17286 | 2005-08-30 22:26:43+00 | 2017-02-16 02:30:53+00
      17055 | 2005-07-11 21:29:15+00 | 2017-02-16 02:30:53+00
(10 rows)

Selects the first_name last_name and email from the staff joined with store where store_id is the same (either 1 or 2) ordered by first name

In [95]:
!psql -c "select first_name, last_name, email from pagila.staff full outer join pagila.store on staff.store_id = store.store_id where staff.store_id = 2 or staff.store_id = 1 order by first_name"

 first_name | last_name |            email
------------+-----------+------------------------------
 Jon        | Stephens  | Jon.Stephens@sakilastaff.com
 Mike       | Hillyer   | Mike.Hillyer@sakilastaff.com
(2 rows)

### Self-joins

In [98]:
!psql -c "create table payment2 as table pagila.payment"

SELECT 16049

In [106]:
!psql -c "select payment2.payment_id, payment.payment_id,payment.payment_date from pagila.payment inner join payment2 on payment.payment_id != payment2.payment_id and payment.payment_date = payment2.payment_date where payment.amount < 5 order by payment.payment_id limit 10"

 payment_id | payment_id |         payment_date
------------+------------+-------------------------------
      16766 |      16127 | 2017-01-30 13:15:57.996577+00
      16127 |      16766 | 2017-01-30 13:15:57.996577+00
      19019 |      18463 | 2017-02-20 08:38:55.996577+00
      17533 |      18750 | 2017-02-21 07:33:16.996577+00
      18463 |      19019 | 2017-02-20 08:38:55.996577+00
      20815 |      19585 | 2017-03-22 03:20:08.996577+00
      21273 |      19722 | 2017-03-17 06:09:21.996577+00
      23495 |      19873 | 2017-03-18 06:23:35.996577+00
      23482 |      19899 | 2017-03-17 08:55:45.996577+00
      22231 |      20088 | 2017-03-02 08:48:08.996577+00
(10 rows)