In [1]:
%env INSTANCE=mysql

env: INSTANCE=mysql

In [2]:
!mysql < /home/jupyter/sakila/sakila-database.sql
!mysql < /home/jupyter/sakila/sakila-data.sql

In [3]:
!mysql sakila -e "show tables"

+----------------------------+
| Tables_in_sakila           |
+----------------------------+
| actor                      |
| actor_info                 |
| address                    |
| category                   |
| city                       |
| country                    |
| customer                   |
| customer_list              |
| film                       |
| film_actor                 |
| film_category              |
| film_list                  |
| film_text                  |
| inventory                  |
| language                   |
| nicer_but_slower_film_list |
| payment                    |
| rental                     |
| sales_by_film_category     |
| sales_by_store             |
| staff                      |
| staff_list                 |
| store                      |
+----------------------------+

## Get Row counts

In [4]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [5]:
!mysql sakila -e "select count(*) from actor_info"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [6]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [7]:
!mysql sakila -e "select count(*) from category"

+----------+
| count(*) |
+----------+
|       16 |
+----------+

In [8]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [9]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [10]:
!mysql sakila -e "select count(*) from customer"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [11]:
!mysql sakila -e "select count(*) from customer_list"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [12]:
!mysql sakila -e "select count(*) from film"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [13]:
!mysql sakila -e "select count(*) from film_actor"

+----------+
| count(*) |
+----------+
|     5462 |
+----------+

In [14]:
!mysql sakila -e "select count(*) from film_category"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [15]:
!mysql sakila -e "select count(*) from film_list"

+----------+
| count(*) |
+----------+
|      997 |
+----------+

In [16]:
!mysql sakila -e "select count(*) from film_text"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [17]:
!mysql sakila -e "select count(*) from inventory"

+----------+
| count(*) |
+----------+
|     4581 |
+----------+

In [18]:
!mysql sakila -e "select count(*) from language"

+----------+
| count(*) |
+----------+
|        6 |
+----------+

In [19]:
!mysql sakila -e "select count(*) from nicer_but_slower_film_list"

+----------+
| count(*) |
+----------+
|      997 |
+----------+

In [20]:
!mysql sakila -e "select count(*) from payment"

+----------+
| count(*) |
+----------+
|    16049 |
+----------+

In [21]:
!mysql sakila -e "select count(*) from rental"

+----------+
| count(*) |
+----------+
|    16044 |
+----------+

In [22]:
!mysql sakila -e "select count(*) from sales_by_film_category"

+----------+
| count(*) |
+----------+
|       16 |
+----------+

In [23]:
!mysql sakila -e "select count(*) from sales_by_store"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [24]:
!mysql sakila -e "select count(*) from staff"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [25]:
!mysql sakila -e "select count(*) from staff_list"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [26]:
!mysql sakila -e "select count(*) from store"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

## Sample a few records from each table

In [27]:
!mysql sakila -e "select * from actor limit 5"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        1 | PENELOPE   | GUINESS      | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG     | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE        | 2006-02-15 04:34:33 |
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+

In [28]:
!mysql sakila -e "select first_name from actor_info limit 5"

+------------+
| first_name |
+------------+
| PENELOPE   |
| NICK       |
| ED         |
| JENNIFER   |
| JOHNNY     |
+------------+

In [29]:
!mysql sakila -e "select district from address limit 5"

+----------+
| district |
+----------+
| Alberta  |
| QLD      |
| Alberta  |
| QLD      |
| Nagasaki |
+----------+

In [30]:
!mysql sakila -e "select * from category limit 5"

+-------------+-----------+---------------------+
| category_id | name      | last_update         |
+-------------+-----------+---------------------+
|           1 | Action    | 2006-02-15 04:46:27 |
|           2 | Animation | 2006-02-15 04:46:27 |
|           3 | Children  | 2006-02-15 04:46:27 |
|           4 | Classics  | 2006-02-15 04:46:27 |
|           5 | Comedy    | 2006-02-15 04:46:27 |
+-------------+-----------+---------------------+

In [31]:
!mysql sakila -e "select * from city limit 5"

+---------+--------------------+------------+---------------------+
| city_id | city               | country_id | last_update         |
+---------+--------------------+------------+---------------------+
|       1 | A Corua (La Corua) |         87 | 2006-02-15 04:45:25 |
|       2 | Abha               |         82 | 2006-02-15 04:45:25 |
|       3 | Abu Dhabi          |        101 | 2006-02-15 04:45:25 |
|       4 | Acua               |         60 | 2006-02-15 04:45:25 |
|       5 | Adana              |         97 | 2006-02-15 04:45:25 |
+---------+--------------------+------------+---------------------+

In [32]:
!mysql sakila -e "select * from country limit 5"

+------------+----------------+---------------------+
| country_id | country        | last_update         |
+------------+----------------+---------------------+
|          1 | Afghanistan    | 2006-02-15 04:44:00 |
|          2 | Algeria        | 2006-02-15 04:44:00 |
|          3 | American Samoa | 2006-02-15 04:44:00 |
|          4 | Angola         | 2006-02-15 04:44:00 |
|          5 | Anguilla       | 2006-02-15 04:44:00 |
+------------+----------------+---------------------+

In [33]:
!mysql sakila -e "select first_name,email from customer limit 5"

+------------+-------------------------------------+
| first_name | email                               |
+------------+-------------------------------------+
| MARY       | MARY.SMITH@sakilacustomer.org       |
| PATRICIA   | PATRICIA.JOHNSON@sakilacustomer.org |
| LINDA      | LINDA.WILLIAMS@sakilacustomer.org   |
| BARBARA    | BARBARA.JONES@sakilacustomer.org    |
| ELIZABETH  | ELIZABETH.BROWN@sakilacustomer.org  |
+------------+-------------------------------------+

In [34]:
!mysql sakila -e "select SID,city,name from customer_list limit 5"

+-----+--------+----------------+
| SID | city   | name           |
+-----+--------+----------------+
|   1 | Kabul  | VERA MCCOY     |
|   1 | Batna  | MARIO CHEATHAM |
|   2 | Bchar  | JUDY GRAY      |
|   1 | Skikda | JUNE CARROLL   |
|   2 | Tafuna | ANTHONY SCHWAB |
+-----+--------+----------------+

In [35]:
!mysql sakila -e "select title,length from film where length > 120 order by length desc limit 5"

+----------------+--------+
| title          | length |
+----------------+--------+
| DARN FORRESTER |    185 |
| HOME PITY      |    185 |
| CHICAGO NORTH  |    185 |
| GANGS PRIDE    |    185 |
| CONTROL ANTHEM |    185 |
+----------------+--------+

In [36]:
!mysql sakila -e "select * from film_actor limit 5"

+----------+---------+---------------------+
| actor_id | film_id | last_update         |
+----------+---------+---------------------+
|        1 |       1 | 2006-02-15 05:05:03 |
|        1 |      23 | 2006-02-15 05:05:03 |
|        1 |      25 | 2006-02-15 05:05:03 |
|        1 |     106 | 2006-02-15 05:05:03 |
|        1 |     140 | 2006-02-15 05:05:03 |
+----------+---------+---------------------+

In [37]:
!mysql sakila -e "select * from film_category limit 5"

+---------+-------------+---------------------+
| film_id | category_id | last_update         |
+---------+-------------+---------------------+
|       1 |           6 | 2006-02-15 05:07:09 |
|       2 |          11 | 2006-02-15 05:07:09 |
|       3 |           6 | 2006-02-15 05:07:09 |
|       4 |          11 | 2006-02-15 05:07:09 |
|       5 |           8 | 2006-02-15 05:07:09 |
+---------+-------------+---------------------+

In [38]:
!mysql sakila -e "select title,price from film_list limit 5"

+------------------+-------+
| title            | price |
+------------------+-------+
| ACADEMY DINOSAUR |  0.99 |
| ACE GOLDFINGER   |  4.99 |
| ADAPTATION HOLES |  2.99 |
| AFFAIR PREJUDICE |  2.99 |
| AFRICAN EGG      |  2.99 |
+------------------+-------+

In [39]:
!mysql sakila -e "select title from film_text order by title desc limit 5"

+-------------------+
| title             |
+-------------------+
| ZORRO ARK         |
| ZOOLANDER FICTION |
| ZHIVAGO CORE      |
| YOUTH KICK        |
| YOUNG LANGUAGE    |
+-------------------+

In [40]:
!mysql sakila -e "select * from inventory limit 5"

+--------------+---------+----------+---------------------+
| inventory_id | film_id | store_id | last_update         |
+--------------+---------+----------+---------------------+
|            1 |       1 |        1 | 2006-02-15 05:09:17 |
|            2 |       1 |        1 | 2006-02-15 05:09:17 |
|            3 |       1 |        1 | 2006-02-15 05:09:17 |
|            4 |       1 |        1 | 2006-02-15 05:09:17 |
|            5 |       1 |        2 | 2006-02-15 05:09:17 |
+--------------+---------+----------+---------------------+

In [41]:
!mysql sakila -e "select * from language order by language_id desc limit 5"

+-------------+----------+---------------------+
| language_id | name     | last_update         |
+-------------+----------+---------------------+
|           6 | German   | 2006-02-15 05:02:19 |
|           5 | French   | 2006-02-15 05:02:19 |
|           4 | Mandarin | 2006-02-15 05:02:19 |
|           3 | Japanese | 2006-02-15 05:02:19 |
|           2 | Italian  | 2006-02-15 05:02:19 |
+-------------+----------+---------------------+

In [42]:
!mysql sakila -e "select title,rating from nicer_but_slower_film_list order by rating desc limit 5"

+------------------+--------+
| title            | rating |
+------------------+--------+
| ADAPTATION HOLES | NC-17  |
| ALADDIN CALENDAR | NC-17  |
| ALICE FANTASIA   | NC-17  |
| ALIEN CENTER     | NC-17  |
| ALLEY EVOLUTION  | NC-17  |
+------------------+--------+

In [43]:
!mysql sakila -e "select * from payment limit 5"

+------------+-------------+----------+-----------+--------+---------------------+---------------------+
| payment_id | customer_id | staff_id | rental_id | amount | payment_date        | last_update         |
+------------+-------------+----------+-----------+--------+---------------------+---------------------+
|          1 |           1 |        1 |        76 |   2.99 | 2005-05-25 11:30:37 | 2006-02-15 22:12:30 |
|          2 |           1 |        1 |       573 |   0.99 | 2005-05-28 10:35:23 | 2006-02-15 22:12:30 |
|          3 |           1 |        1 |      1185 |   5.99 | 2005-06-15 00:54:12 | 2006-02-15 22:12:30 |
|          4 |           1 |        2 |      1422 |   0.99 | 2005-06-15 18:02:53 | 2006-02-15 22:12:30 |
|          5 |           1 |        2 |      1476 |   9.99 | 2005-06-15 21:08:46 | 2006-02-15 22:12:30 |
+------------+-------------+----------+-----------+--------+---------------------+---------------------+

In [44]:
!mysql sakila -e "select rental_id,staff_id from rental where staff_id < 2 limit 5"

+-----------+----------+
| rental_id | staff_id |
+-----------+----------+
|         1 |        1 |
|         2 |        1 |
|         3 |        1 |
|         5 |        1 |
|         6 |        1 |
+-----------+----------+

In [45]:
!mysql sakila -e "select * from sales_by_film_category order by total_sales limit 5"

+----------+-------------+
| category | total_sales |
+----------+-------------+
| Music    |     3417.72 |
| Travel   |     3549.64 |
| Classics |     3639.59 |
| Children |     3655.55 |
| Horror   |     3722.54 |
+----------+-------------+

In [46]:
!mysql sakila -e "select * from sales_by_store"

+---------------------+--------------+-------------+
| store               | manager      | total_sales |
+---------------------+--------------+-------------+
| Woodridge,Australia | Jon Stephens |    33726.77 |
| Lethbridge,Canada   | Mike Hillyer |    33679.79 |
+---------------------+--------------+-------------+

In [47]:
!mysql sakila -e "select first_name from staff limit 5"

+------------+
| first_name |
+------------+
| Mike       |
| Jon        |
+------------+

In [48]:
!mysql sakila -e "select * from staff_list order by city desc"

+----+--------------+----------------------+----------+-------------+------------+-----------+-----+
| ID | name         | address              | zip code | phone       | city       | country   | SID |
+----+--------------+----------------------+----------+-------------+------------+-----------+-----+
|  2 | Jon Stephens | 1411 Lillydale Drive |          | 6172235589  | Woodridge  | Australia |   2 |
|  1 | Mike Hillyer | 23 Workhaven Lane    |          | 14033335568 | Lethbridge | Canada    |   1 |
+----+--------------+----------------------+----------+-------------+------------+-----------+-----+

In [49]:
!mysql sakila -e "select *from store"

+----------+------------------+------------+---------------------+
| store_id | manager_staff_id | address_id | last_update         |
+----------+------------------+------------+---------------------+
|        1 |                1 |          1 | 2006-02-15 04:57:12 |
|        2 |                2 |          2 | 2006-02-15 04:57:12 |
+----------+------------------+------------+---------------------+

## Queries

In [50]:
# Select actors whose name begins with the letter "A" and order by last name (alpha)
!mysql sakila -e "select * from actor where first_name like 'A%' order by last_name "

+----------+------------+-------------+---------------------+
| actor_id | first_name | last_name   | last_update         |
+----------+------------+-------------+---------------------+
|       76 | ANGELINA   | ASTAIRE     | 2006-02-15 04:34:33 |
|      190 | AUDREY     | BAILEY      | 2006-02-15 04:34:33 |
|       49 | ANNE       | CRONYN      | 2006-02-15 04:34:33 |
|      173 | ALAN       | DREYFUSS    | 2006-02-15 04:34:33 |
|      165 | AL         | GARLAND     | 2006-02-15 04:34:33 |
|       71 | ADAM       | GRANT       | 2006-02-15 04:34:33 |
|      132 | ADAM       | HOPPER      | 2006-02-15 04:34:33 |
|       65 | ANGELA     | HUDSON      | 2006-02-15 04:34:33 |
|      146 | ALBERT     | JOHANSSON   | 2006-02-15 04:34:33 |
|      125 | ALBERT     | NOLTE       | 2006-02-15 04:34:33 |
|       34 | AUDREY     | OLIVIER     | 2006-02-15 04:34:33 |
|       29 | ALEC       | WAYNE       | 2006-02-15 04:34:33 |
|      144 | ANGELA     | WITHERSPOON | 2006-02-15 04:34:33 |
+----------+------------+-------------+---------------------+

In [51]:
# Add in ANNIE anand as an entry into actor table with an id of 202 and the same time update as the other actors, then show the resulted add
!mysql sakila -e "insert into actor values(202,'ANNIE', 'anand','2006-02-15 04:34:33')"
!mysql sakila -e "select * from actor where first_name like 'A%' order by last_name limit 1 "

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|      202 | ANNIE      | anand     | 2006-02-15 04:34:33 |
+----------+------------+-----------+---------------------+

In [52]:
# Using update we can select an actor using the "WHERE" clause to find and update certian properties(columns),
# of said actor 
!mysql sakila -e "update actor set last_name= 'ANAND',last_update='2021-02-02 04:34:33' where actor_id=202"
!mysql sakila -e "select * from actor where first_name like 'A%' order by last_name limit 1 "

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|      202 | ANNIE      | ANAND     | 2021-02-02 04:34:33 |
+----------+------------+-----------+---------------------+

In [53]:
# using delete we can remove our new entry by using the primary key for this table(actor_id),
#since every actor has a unique ID we use the "WHERE" clasue to locate and remove the actor of choice
!mysql sakila -e "DELETE FROM actor WHERE actor_id=202"
!mysql sakila -e "select * from actor where first_name like 'A%' order by last_name limit 10 "

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|       76 | ANGELINA   | ASTAIRE   | 2006-02-15 04:34:33 |
|      190 | AUDREY     | BAILEY    | 2006-02-15 04:34:33 |
|       49 | ANNE       | CRONYN    | 2006-02-15 04:34:33 |
|      173 | ALAN       | DREYFUSS  | 2006-02-15 04:34:33 |
|      165 | AL         | GARLAND   | 2006-02-15 04:34:33 |
|       71 | ADAM       | GRANT     | 2006-02-15 04:34:33 |
|      132 | ADAM       | HOPPER    | 2006-02-15 04:34:33 |
|       65 | ANGELA     | HUDSON    | 2006-02-15 04:34:33 |
|      146 | ALBERT     | JOHANSSON | 2006-02-15 04:34:33 |
|      125 | ALBERT     | NOLTE     | 2006-02-15 04:34:33 |
+----------+------------+-----------+---------------------+